:root {
  
  --marginTitulo: 30px 0 20px 0;
  --colorTitulo: #9a9a9a;
  
  --marginSubtitulo: 30px 0 20px 0;
  --colorSubtitulo: #9a9a9a;
  
  --colorTextBotonSecundario: #66615b;
  
}

/*=============================================
  GENERAL STYLE
=============================================*/

html,body{
    overflow-x: hidden;
    scrollbar-face-color: var(--primary);
    scrollbar-track-color:#F5F5F5;
    scrollbar-shadow-color:rgba(0,0,0,0.1);
    scrollbar-highlight-color: var(--primary);
}
.cuerpo{
    position: absolute;
    padding-left: 280px;
    padding-right: 1%;
    width: 100%;
    top: 56px;
}

/*barra desplazamiento style*/
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}
::-webkit-scrollbar{
    background-color: #F5F5F5; 
    width: 15px;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 94%,
									   from(var(--light3)),
									   to(var(--primary)))
}

/*menu superior style*/
.navbar{
    margin-left: 265px;
    transition: all 0.5s  ease-in-out;
    background: var(--primary);
    color: white;
}
.navbar .navbar-brand{
    font-size: 1.3rem;
    font-family: 'Dancing Script', cursive;
}
.navbar .dropdown-item:hover{background:  var(--enfasis3);}

/*menu lateral style*/
.sidebar{
    z-index: 1000;
    position: fixed;
    height: 100%;
    width:265px;  
    background: var(--secundary);
    top: 0;
    overflow-y:auto;
}
::-webkit-scrollbar{width:0px}
.sidebar ul{ list-style:none; margin:0px; padding:0px; }
.sidebar ul li a{ 
    display:block; 
    padding:18px 15px; 
    color: white;
    text-decoration:none;
}
.sidebar li a.active{
    background: var(--secundary);
    border-left:5px solid #dedede; 
    transition: all 0.5s  ease-in-out
}
.sidebar li a:hover, .sidebar li a.active:hover{background-color: #222;}
.sidebar li a i{ 
    padding-right:3px;
    font-size: 30px;
    vertical-align: bottom;
}

/*menu lateral opcion menu style*/
.sidebar ul li .sub-menu li a{ 
    position:relative; 
    color: white;
}
.sidebar ul li .sub-menu li a:before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f054";
    display: inline-block;
    padding-left: 0px;
    padding-right: 10px;
    vertical-align: middle;
}
.sidebar ul li .sub-menu li a:hover:after {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
    background-color: #111;
    height: 100%;
}
.sidebar ul li .sub-menu li a:hover{ 
    background-color:#222; 
    padding-left:20px; 
    transition: all 0.5s  ease-in-out;
    color: white;
}
a.bg-primary:hover:focus, a.bg-primary:focus, a.bg-primary:hover{ 
    background-color:var(--primary) !important;
}
.sidebar .sub-menu{ border-left:5px solid #dedede;}
.mostrar{display: block !important;}

/*===TITULO STYLE===*/
.titulo{
	color: var(--colorTitulo);
	margin: var(--marginTitulo);
	font-family:serif;
	text-align: center;
    text-transform: uppercase;
}
	
/*===SUBTITULO STYLE===*/
.subtitulo {
	color: var(--colorSubtitulo);
	margin: var(--marginSubtitulo);
	font-weight: bold;
    text-align: left;
}

/*===ALTER TEXT STYLE===*/
.obligatorio:after{
    color: #f44336;
    font-weight: bold;
    content: " *";
}

/*===BOTON PRINCIPAL STYLE ===*/
.botonPrincipal{
    border-radius: 30px; 
    font-weight: bold;
    background: var(--primary);
    padding: 10px 50px;
    color: white;
}
.botonPrincipal:hover, .botonPrincipal:focus, .botonPrincipal:hover:focus{
    background: var(--secundary) !important;
    transition: 30s;
}
		
/*===BOTON SECUNDARIO STYLE ===*/
.botonSecundario{
	border: 2.4px var(--colorTextBotonSecundario) solid;
	border-radius: 50px;
	padding: 5px 20px;
	font-weight: bold;
	color: var(--colorTextBotonSecundario);
	font-size: 12px;
}
.botonSecundario:hover, .botonSecundario:focus, .botonSecundario:hover:focus{
	background-color: var(--colorTextBotonSecundario);
	color: white;
	transition: 0.5s;
}

/*===BOTON TERCERO STYLE ===*/
.botonTercero{
	border-radius: 50px;
	padding: 5px 20px;
	font-weight: bold;
    background: var(--primary);
	font-size: 12px;
    color: white;
}
.botonTercero:hover, .botonTercero:focus, .botonTercero:hover:focus{
	background: var(--secundary) !important;
    color: white;
	transition: 0.5s;
}

/*===BOTON QUINTO STYLE ===*/
.botonCuarto{
    border: 4px var(--primary) solid;
	padding: 8px 50px;
    border-radius: 30px; 
	font-weight: bold;
	font-size: 12px;
    color: white;
}
.botonCuarto:hover, .botonCuarto:focus, .botonCuarto:hover:focus{
	background: var(--primary) !important;
    color: white;
	transition: 0.5s;
}

/*===IMAGEN STYLE ===*/
.inputImagen{
    margin: 3% 0 3% 0;
    display: none;
}
.imagenMin{
    margin: 3% 0 3% 0;
    width: 200px; 
    height: 200px;
}
.imagenMinSlider{
    width: 200px;
    height: 130px;
}

/*=== GRUPO DE DATOS DE ENTRADA STYLE ===*/
.input-group .input-group-text{
	border-right: 0;
	background: white
}
.input-group .form-control{
	border-left: 0
}

/*===MENSAJE DE ALERTA DE LA VISTA===*/
.toast {
	z-index: -100;
	position: fixed;
	right: 40px;
	top: 70px;
	color: white;
	font-weight:500;
	font-size: 18px;
}
.visualizar{
	z-index: 100;
}
.succesfull{background: #00C851;}
.error{background: #ff4444;}

/*=============================================
  COMPONENTE CARRUSEL DE IMAGENES
=============================================*/

/*carousel style*/
#CarouselInicio .carousel-item{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    height: 60vh;
}
#CarouselInicio .carousel-control-prev i, #CarouselInicio .carousel-control-next i{
    padding: 10px;
    background: rgba(1, 1, 1, 0.9);
}
.numeroSliders{
    font-weight: bold;
    padding-top: 8px;
}
.descripcionSlider{
    margin-top: 13vh !important;
    margin-left: 10%;
}
.descripcionSlider p{
    width: fit-content;
    max-width: 250px;
    color: var(--primary);
    background: rgba(1,1,1,0.7) !important;
    border-radius: 2px;
    padding: 0 0.9rem;
    margin-bottom: 0.3rem !important;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;
    font-family: 'Bungee', cursive;
  
}
.descripcionSlider p.descripcion{
    color: white;
    max-width: 250px;
    margin-bottom: 0.3rem !important;
    text-transform: none;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
}

/*===OPCIONES DEL SLIDER STYLE===*/
.opcionesSlider{ position: absolute; }
.opcionesSlider .btn{
    background-color: rgba(244, 67, 54, 1); 
    position: absolute; 
    bottom: 0;
    padding: 5px 13px;
    color: white;
    font-weight: bold;
}

/*===OPCIONES DEL PRODUCTO DESTACADO===*/
#tDestacados .btn{
    background-color: rgba(244, 67, 54, 1); 
    padding: 5px 13px;
    color: white;
    font-weight: bold;
}

/*=============================================
  MEDIA RESPONSIVE
=============================================*/
@media (max-width: 768px) { 

    /*carousel style*/
    .numeroSliders{
        font-size: 1rem !important;
    }
    .descripcionSlider p{
        max-width: 130px !important;
        font-size: 0.9rem !important;
    }
    .descripcionSlider p.descripcion{
        max-width: 130px !important;
        font-size: 0.7rem !important;
    }
  
}

@media (max-width: 991px){
  
    .sidebar{
      display: none;
      top: 56px;
      transition: all 0.5s  ease-in-out;
    }

    .navbar{
      margin-left: 0;
      transition: all 0.5s  ease-in-out;
    }
  
    .cuerpo{
        padding-left: 3%;
        padding-right: 3%;

    }
  
    .destacado2{height: auto !important;}

}




